<div class="expansion-wrapper">
<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
               Search
            </mat-panel-title>
            <mat-panel-description>
                This is the search example
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Search</p>
        <p>Example 2</p>
        <p>Example 3</p>
        <p>Example 4</p>
        <p>Example 5</p>
    </mat-expansion-panel>
</mat-accordion>
</div>
