<div class="expansion-wrapper">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{nameOfExample}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div
                *ngFor="let example of examples"
                [routerLink]="example.route"
                class="menu-item"
                routerLinkActive="active"
                (click)="changeNameOfExample(example.name)">{{example.name}}</div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
